<%= extension_point('/common/header') %>

<h1> New Coupon </h1>

<%= error_messages_for :coupon %>

<% form_for @coupon, :url => (@coupon.new_record? ? office_coupons_path : office_coupon_path(@coupon)) do |f| %>
  <table class="coupon">
    <tr>
      <td>&nbsp;</td>
      <td>
        <label for="coupon_code"> Code </label>
      </td>
      <td>
        <%= f.text_field :code %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <label for="coupon_effective_on_1i"> Effective On </label>
      </td>
      <td>
        <%= f.date_select :effective_on %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <label for="coupon_no_end"> End Date </label>
      </td>
      <td>
        <%= f.check_box :no_end %> Never
        <%= observe_field 'coupon_no_end', :function => '$("show_end").toggle();' %>
        <span id="show_end"<%= ' style="display: none"' if @coupon.no_end? %>>
          <%= f.date_select :ineffective_on %>
        </span>
      </td>
    </tr>

    <tr>
      <th colspan="3"><h4>Requires</h4></th>
    </tr>
    <tr>
      <td>
        <%= f.check_box :requires_all %>
      </td>
      <td>
        <label for="coupon_requires_all"> all products with skus: </label>
      </td>
      <td rowspan="5">
        <label for="coupon_require_skus">Skus</label>
        (* = leave blank for any product to qualify)
        <br/>
        <%= f.text_area :require_skus, :rows => 5 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :requires_any %>
      </td>
      <td>
        <label for="coupon_requires_any"> any product with skus: </label>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :requires_distinct_count, :size => 2 %>
      </td>
      <td>
        <label for="coupon_requires_distinct_count">
        different products with skus: (*)
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :requires_total_count, :size => 2 %>
      </td>
      <td>
        <label for="coupon_requires_total_count">
        total products with skus: (*)
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :requires_minimum_purchase, :size => 2 %>
      </td>
      <td>
        <label for="coupon_requires_minimum_purchase">
        dollars spent on skus: (*)
        </label>
      </td>
    </tr>

    <tr>
      <td colspan="2"><h4>Applies To</h4></td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :applies_all_required %>
      </td>
      <td>
        <label for="coupon_applies_all_required">
        All products listed above
        </label>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :applies_max_required %>
      </td>
      <td>
        <label for="coupon_applies_max_required">
        Most expensive item listed above
        </label>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :applies_max_equal_lesser_required %>
      </td>
      <td>
        <label for="coupon_applies_max_equal_lesser_required">
        Second most expensive qualifying product from above
        </label>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :applies_total %>
      </td>
      <td>
        <label for="coupon_applies_total">Total of cart</label>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :applies_shipping %>
      </td>
      <td>
        <label for="coupon_applies_shipping">
        Cost of shipping
        </label>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><%= f.check_box :double_line %></td>
      <td>
        <label for="coupon_double_line">
          Create a duplicate (custom) line
        </label>
        -- Buy <%= f.text_field :buy_this_many, :size => 2 %>
        Get <%= f.text_field :get_this_many, :size => 2 %>
        (<%= f.check_box :double_line_only_once %> only once)
    <tr>
      <td>
        <%= f.check_box :applies_max_equal_lesser_associated %>
      </td>
      <td>
        <label for="coupon_applies_max_equal_lesser_associated">
        Most expensive that is equal or less than max from above with sku:
        </label>
      </th>
      <td rowspan="4">
        <%= f.text_area :associate_skus, :rows => 5 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :applies_max_equal_lesser_other %>
      </td>
      <td>
        <label for="coupon_applies_max_equal_lesser_other">
        Most expensive that is equal or less than max from above that doesn't
        have sku:
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :applies_all_associated %>
      </td>
      <td>
        <label for="coupon_applies_all_associated">
        All products with skus:
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :applies_max_associated %>
      </td>
      <td>
        <label for="coupon_applies_max_associated">
        Most expensive item with sku:
        </label>
      </th>
    </tr>

    <tr>
      <th colspan="3">
        <h4> Discount </h4>
      </th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><label for="coupon_discount_percent">Percent off:</label></td>
      <td><%= f.text_field :discount_percent %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><label for="coupon_discount_price">Price off:</label></td>
      <td><%= f.text_field :discount_price %></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td><label for="coupon_discount_entire_line">Discount entire line</label></td>
      <td><%= f.check_box :discount_entire_line %></td>
    </tr>

    <tr>
      <td colspan="3"> <%= submit_tag 'Create' %> </td>
    </tr>
  </table>

<% end %>

<%= extension_point('/common/footer') %>
