<%= extension_point('/common/header') %>

<% if @carts.empty? -%>
  <h1>No Receipts</h1>
<% else -%>
  <%= will_paginate @carts %>
  <table class="carts">
    <thead>
      <th>Date</th>
      <th>Email</th>
      <th>Amount</th>
      <th>Receipt</th>
    </thead>
    <tbody>
      <% @carts.each do |cart| -%>
        <tr>
          <td><%= cart.sold_at.strftime('%b %d %H:%M') %></td>
          <td><%= h(cart.customer.email) %></td>
          <td><%= cart.grand_total(true) %></td>
          <td><%= link_to 'Show', "/cart/receipt/#{cart.id}" %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <%= will_paginate @carts %>
<% end -%>

<%= extension_point('/common/footer') %>
