<tr id="tag_set_<%= category.id %>" class="<%=category.name %>">
  <td id="tag_set_expand_<%= category.id %>"><%= link_to_function("<img src=\"/images/cart/expand.gif\" title=\"Expand\" alt=\"+\">", "cart_office_process_show_tags_for_category(#{category.id})") %></td>
  <td class="category_name"><%= h category.name %></td>
  <td class="category_tag_count"><%= category.tags_count %></td>
  <td><%= link_to_function("<img src=\"/images/cart/edit.gif\" title=\"Edit\" alt=\"Edit\">", 
	  "cart_office_process_edit_category(#{category.id})") %></td>
	<td><%= link_to_function("<img src=\"/images/cart/remove.gif\" title=\"Remove\" alt=\"Remove\">",
	  "cart_office_process_delete_category(#{category.id}, #{h(category.name).to_json}, \"#{form_authenticity_token}\")") %>
  </td>
</tr>

<tr id="tag_set_children_<%= category.id %>">
  <td colspan="5">
    <ul style="list-style-type: none">
		  <li>
        <table id="<%= dom_id(category) %>_tags" style="display:none">
          <!-- placeholder -->
        </table>
			</li>
			<li id="<%= dom_id(category) %>_tag_form" style="display:none">
        <%= render :partial => "office/tags/form", :locals => {:tag_set => category} %>
			</li>
    </ul>
	</td>
</tr>
